@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
    --dark-green: #268b2c;
    --light-green: #effbf0;
    --dark-purple: #6a52ff;
    --light-purple: #f3f1ff; 
    --dark-orange: #d2781a;
    --light-orange: #fdf3eb;
    --dark-blue: #2998ff;
    --light-blue: #f0f7ff;
    --dark-red: #cf2e2e;
    --light-red: #ffe5e5;
    --dark-gray: #676b6e;
    --light-gray: #f6f6f6;
    --black: #000000;
}

body { 
    background-color: var(--black);
}

.source-code-container {
    display: none;
    background-color: var(--black);
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
    overflow-x: auto;
}

.source-code {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

.main{
    padding: 0 88px;
    position: relative;
    overflow-x: hidden;
    background-color: var(--black);
}

.main::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 55%;
    top: 20%;
    background-color: var(--dark-green);
    filter: blur(90px);
}

.main::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: 80%;
    top: 44%;
    background-color: #22a8cd;
    filter: blur(90px);
}

.main .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}    /* This is where the main css section ends*/

.navbar .nav-links {
    padding-right: 160px;
    white-space: nowrap;
}

.navbar .toggler {
    font-size: 2rem;
    color: #c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar .nav-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color: #ccc;
    font-size: 12px;
}

.navbar .nav-btn.selected {
    border: 1px solid #ccc;
    border-radius: 8px;
} /* This is where the navbar at the top section ends*/


.img-box.zoomed-in {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
} /* This is where the zoom in on the contact button stylization comes in */

.navbar .logo {
    background: linear-gradient(95deg, var(--dark-green) 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 62px;
}

.navbar .item {
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
}

.navbar .item.selected { 
    background: linear-gradient(95deg, var(--dark-green) 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #ccc;
}

.navbar .item:not(last-child) {
    margin-right: 20px;
}

.nav-buttons.active { 
    transition: all 0.3s ease;
    opacity: 1;
}

.main .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.top-container .info-box {
    max-width: 50%;
    animation: toRight 0.8s;
}

.top-container .header { 
    margin: 0;
    color: white;
    font-size: 1.9rem;
    font-weight: 200;
    line-height: 45px;
}

.top-container {
    justify-content: flex-start;
    margin-top: -20px;
}

.top-container .info-text { 
    margin: 20px 0 32px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.top-container .info-buttons { 
    display: flex;
}

.top-container .info-btn { 
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: white;
}

.top-container .info-btn.nav-btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid white;
}

.top-container .info-btn.selected {
    border: none;
    background: linear-gradient(95deg, var(--dark-green) 3.2%, #3b82f6 99.5%);
}

.top-container .img-box {
    padding: 16px;
    border: 1px solid black;
    background: linear-gradient(170deg, var(--dark-green) 1.85%, #3b82f6 99.5%);
    border-radius: 2rem;
    animation: toLeft 0.8s;
}

.top-container .img-box .img-pic { 
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 1.6rem;
}

.top-container .img-box .img-content{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.top-container .img-box .info, .top-container .likes .img-box{ 
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 15px;
}


.top-container .img-box .info-img { 
    object-fit: cover;
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    border-radius: 20%;
    margin-right: 1px;
}

.top-container .img-box .likes .icon-box{ 
    display: flex;
    align-items: center;
    font-size: 15px;
}

/* This is the text decoration setting for the contact box */
.likes a {
    color: white;
    text-decoration: none;
}

.top-container .img-box .likes .icon-box .bx { 
    font-size: 40px;
    margin-right: 5px;
}

.top-container .img-box .likes .icon-linkedin .bxl-linkedin-square {
    font-size: 40px;
    margin-right: 5px;
}

.top-container .img-box .likes .icon-linkedin{ 
    display: flex;
    align-items: center;
    font-size: 15px;
} /* end of top-container */

.coursework {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.coursework .header03 {
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.coursework .info-text03 {
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.coursework .items-box03{
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.coursework .items-box03:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 80px;
    background: linear-gradient(95deg, var(--dark-blue) 3.2%, var(--light-orange) 99.5%);
    filter: blur(140px);
}

.coursework .items-box03 .item-container03 .item03{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
}

.coursework .items-box03 .item-container03 p{
    width: 100px;
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-align-last: center;
}

.coursework .items-box03 .item-container03 .item03 .bx{
    font-size: 38px;
    color: #eee;
} /* This is where the coursework section ends */


.get-started{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.get-started .header{
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.get-started .info-text{
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.get-started .items-box{
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.get-started .items-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 80px;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    filter: blur(140px);
}

.get-started .items-box .item-container p{
    width: 100px;
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-align-last: center;
    justify-content: center;
}

.get-started .items-box .item-container .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
}

.get-started .items-box .item-container .item .bx{
    font-size: 38px;
    color: #eee;
} /* end of 'get-started' or the values section ends */

.projects{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.projects .header02{
    align-self: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.projects .info-text02{
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    white-space: nowrap;
} 

.projects .item02-img{
    width: 1000px;
    height: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
}

.projects .items-box02 .item-container02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.projects .items-box02 .item-container02 .item-text02{
    display: flex;
    width: 100px;
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 22px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
} /* End of projects */

.main .footer{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.main .copyright{
    padding-bottom: 25px;
    border-top: 1px solid #ccc;
}

.main .footer .footer-header{
    max-width: 50%;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links{
    display: flex;
}

.main .footer .footer-links .link{
    margin-left: 70px;
}

.main .footer .footer-links .link h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}

.main .footer .footer-links .link p{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #ccc;
}
/* This is where the main footer section ends  */


.coursework, .get-started, .projects {
    border-bottom: 1px solid #ccc;
}

.copyright p {
    font-size: 12px;
    line-height: 36px;
    color: #afafaf;
}

.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--light-green);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.scrollToTopButton i {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.scrollToTopButton:hover {
    background-color: white;
}

@media (max-width: 768px) {
    .scrollToTopButton {
        bottom: 10px;
        right: 10px;
    }
}

/* This is where the main media query starts for different sized mobile devices, tablets, and smaller computers */
@media screen and (max-width: 1040px) {
    .top-container{
        flex-direction: column;
    }

    .top-container .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .top-container .nft-box{
        display: none;
    }
    
    .main .footer{
        flex-direction: column;
    }

    .main .footer .footer-header{
        max-width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }

    .main .footer .footer-links .link:first-child{
        margin: 0;
    }

    .top-container {
        justify-content: flex-start;
        margin-top: -20px;
    }
}

@media screen and (max-width: 925px) {
    .navbar .nav-links{
        display: none;
    }

    .navbar .nav-buttons{
        opacity: 0;
    }

    .navbar .toggler{
        display: flex !important;
        align-items: center;
    }

    .get-started .info-text{
        text-align: center;
    }

    .get-started .items-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .get-started .items-box:before{
        height: 200px;
        top: 90px;
        filter: blur(120px);
    }

    .coursework .info-text03 {
        text-align: center;
    }

    .coursework .items-box03 {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .coursework .items-box03:before {
        height: 200px;
        top: 90px;
        filter: blur(120px);
    }

    .projects .item02-img{
        width: 100%;
        height: auto;
    }

    .top-container {
        justify-content: flex-start;
        margin-top: -20px;
    }
}


@media screen and (max-width: 700px) {
    .top-container{
        margin-top: 4rem !important;
    }

    .top-container .info-box{
        max-height: none;
        max-width: none;
        margin-bottom: 4rem;
    }

    .top-container .nft-box{
        display: block;
        max-width: none;
        max-height: none;
    }

    .projects .item02-img{
        width: 100%;
        height: auto;
    }

    .top-container {
        justify-content: flex-start;
        margin-top: -20px;
    }
}  

@media screen and (max-width: 600px) {
    .main{
        padding: 0 40px;
    }

    .footer .footer-header{
        font-size: 20px;
        line-height: 30px;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer .footer-links{
        justify-content: space-between;
        width: 100%;
    }

    .footer .footer-links .link{
        margin-left: 20px;
    }

    .footer .footer-links .link h5{
        font-size: 15px;
        line-height: 35px;
    }

    .footer .footer-links .link p{
        font-size: 11px;
        line-height: 18px;
    }

    .projects .item02-img{
        width: 100%;
        height: auto;
    }

    .top-container {
        justify-content: flex-start;
        margin-top: -20px;
    }
}

@keyframes toRight{
    from{
        transform: translateX(-700px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes toLeft{
    from{
        transform: translateX(550px);
    }
    to{
        transform: translateX(0px);
    }
}